<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.mapper.DangGoMapper">
	
	<select id="listRes" resultType="ResDTO">
		select tbl_menu.menu_img1, tbl_restaurant.res_name, substr(tbl_restaurant.res_addr,4,3) from tbl_menu, tbl_restaurant where tbl_menu.res_seq = tbl_restaurant.res_seq
		
	</select>
	
	
	<select id="BukGu" resultType="ResDTO">
	select tbl_menu.menu_img1, tbl_restaurant.res_name, substr(tbl_restaurant.res_addr,4,3) from tbl_menu, tbl_restaurant where tbl_menu.res_seq = tbl_restaurant.res_seq
	</select>
	
	
	
<!-- 	
	<select id="listRinfo" resultType="Menu">
		select * from tbl_restaurant
	</select> -->
	
	
</mapper>